<header class="menu-container row no-gutters ">
  <div class="navbar">
      <div class="menuright-logoleft">
        <div class="logo-left col-md-6">
              <a routerLink="/">
                  <img class="menu-logo" routerLink="/" src="https://firebasestorage.googleapis.com/v0/b/davoseaworth-3cb21.appspot.com/o/davoseaworth.svg?alt=media&token=1aff1056-2229-42b0-9432-71871f55a2e0"> 
              </a>
        </div> 
       <!--  <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <nav class="menu-right">
          <!-- <form class="">
              <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
              <input class="menu-search" type="text" placeholder="&#xF002; Search" style="font-family:Oxygen, FontAwesome" />  
            </form> -->
          <ul class="menu-list">
              <li class="nav-item"><a routerLink="profile"  routerLinkActive="active-link">Profile</a></li>
              <li class="nav-item"><a routerLink="works"  routerLinkActive="active-link">Work Depot</a></li>
              <li class="nav-item"><a href="https://www.linkedin.com/in/davidson-jimeno-b753b4109" target="https://www.linkedin.com/in/davidson-jimeno-b753b4109">LinkedIn</a></li>
          </ul>

        </nav>
      </div>
    </div>
</header>